/* simple calendar styling to avaoid cumbersome maintenance of calendar css section */
/* any of these settings can be overridden in your theme css file */
/* hopefully we can select calendar styling options for the admin area soon */
.caltable th,.caltable td	{vertical-align:top;}
.body .caltable td			{height:6em;}
.caltable .current			{border:2px solid red; background:#ffc;}
.caloptions div 			{border-width:0 0 3px 0; border-style:solid; padding:2px 0 0 0;}
.calitems div a				{border-width:0 0 3px 0; border-style:solid; display:block; padding:3px 2px 1px 2px;}
.calitems .calnumber a		{border-width:0; padding:0;}

/* now for the individual content type settings */
.caloptions .calbitarticle		,.calitems .calbitarticle		a	{border-bottom-color:#f80;}
.caloptions .calbitblog			,.calitems .calbitblog			a	{border-bottom-color:#fb6;}
.caloptions .calbitblogpost		,.calitems .calbitblogpost		a	{border-bottom-color:#fd6;}
.caloptions .calbitcomment		,.calitems .calbitcomment		a	{border-bottom-color:#f6f;}
.caloptions .calbituser			,.calitems .calbituser			a	{border-bottom-color:#9f6;}
.caloptions .calfisheyegallery	,.calitems .calfisheyegallery	a	{border-bottom-color:#9cf;}
.caloptions .calfisheyeimage	,.calitems .calfisheyeimage		a	{border-bottom-color:#39f;}
.caloptions .calpigeonholes		,.calitems .calpigeonholes		a	{border-bottom-color:#f66;}
.caloptions .caltikisticky		,.calitems .caltikisticky		a	{border-bottom-color:#ff6;}
.caloptions .calbitbook			,.calitems .calbitbook			a	{border-bottom-color:#777;}
.caloptions .calbitpage			,.calitems .calbitpage			a	{border-bottom-color:#bbb;}

/*
.caloptions .calbitarticle		,.calitems .calbitarticle		a	{background:#fa6;}
.caloptions .calbitblog			,.calitems .calbitblog			a	{background:#fa9;}
.caloptions .calbitblogpost		,.calitems .calbitblogpost		a	{background:#fc9;}
.caloptions .calbitcomment		,.calitems .calbitcomment		a	{background:#f9f;}
.caloptions .calbituser			,.calitems .calbituser			a	{background:#af8;}
.caloptions .calfisheyegallery	,.calitems .calfisheyegallery	a	{background:#acf;}
.caloptions .calfisheyeimage	,.calitems .calfisheyeimage		a	{background:#7af;}
.caloptions .calpigeonholes		,.calitems .calpigeonholes		a	{background:#f99;}
.caloptions .caltikisticky		,.calitems .caltikisticky		a	{background:#ff9;}
.caloptions .calbitbook			,.calitems .calbitbook			a	{background:#777;}
.caloptions .calbitpage			,.calitems .calbitpage			a	{background:#bbb;}
*/
